
/* Fix to allow putting the caret at the end of the content in Firefox if
   clicking below the content. */
html
{
	min-height: 100%;
}

table.TD__ShowTableBorders, table.TD__ShowTableBorders td, table.TD__ShowTableBorders th
{
	border: #d3d3d3 1px solid;
}

form
{
	border: 1px dotted #FF0000;
	padding: 2px;
}

.TD__Flash
{
	border: #a9a9a9 1px solid;
	background-position: center center;
	background-image: url(images/flashlogo.gif);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
}

/* Empty anchors images */
.TD__Anchor
{
	border: 1px dotted #00F;
	background-position: center center;
	background-image: url(images/anchor.gif);
	background-repeat: no-repeat;
	width: 16px;
	height: 15px;
	vertical-align: middle;
}

/* Anchors with content */
.TD__AnchorC
{
	border: 1px dotted #00F;
	background-position: 1px center;
	background-image: url(images/anchor.gif);
	background-repeat: no-repeat;
	padding-left: 18px;
}

/* Any anchor for non-IE, if we combine it with the previous rule IE ignores all. */
a[name]
{
	border: 1px dotted #00F;
	background-position: 0 center;
	background-image: url(images/anchor.gif);
	background-repeat: no-repeat;
	padding-left: 18px;
}

.TD__PageBreak
{
	background-position: center center;
	background-image: url(images/pagebreak.gif);
	background-repeat: no-repeat;
	clear: both;
	display: block;
	float: none;
	width: 100%;
	border-top: #999999 1px dotted;
	border-bottom: #999999 1px dotted;
	border-right: 0px;
	border-left: 0px;
	height: 5px;
}

/* Hidden fields */
.TD__InputHidden
{
	width: 19px;
	height: 18px;
	background-image: url(images/hiddenfield.gif);
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	background-position: center center;
}

.TD__ShowBlocks p,
.TD__ShowBlocks div,
.TD__ShowBlocks pre,
.TD__ShowBlocks address,
.TD__ShowBlocks blockquote,
.TD__ShowBlocks h1,
.TD__ShowBlocks h2,
.TD__ShowBlocks h3,
.TD__ShowBlocks h4,
.TD__ShowBlocks h5,
.TD__ShowBlocks h6
{
	background-repeat: no-repeat;
	border: 1px dotted gray;
	padding-top: 8px;
	padding-left: 8px;
}

.TD__ShowBlocks p
{
	background-image: url(images/block_p.png);
}

.TD__ShowBlocks div
{
	background-image: url(images/block_div.png);
}

.TD__ShowBlocks pre
{
	background-image: url(images/block_pre.png);
}

.TD__ShowBlocks address
{
	background-image: url(images/block_address.png);
}

.TD__ShowBlocks blockquote 
{
	background-image: url(images/block_blockquote.png);
}

.TD__ShowBlocks h1
{
	background-image: url(images/block_h1.png);
}

.TD__ShowBlocks h2
{
	background-image: url(images/block_h2.png);
}

.TD__ShowBlocks h3
{
	background-image: url(images/block_h3.png);
}

.TD__ShowBlocks h4
{
	background-image: url(images/block_h4.png);
}

.TD__ShowBlocks h5
{
	background-image: url(images/block_h5.png);
}

.TD__ShowBlocks h6
{
	background-image: url(images/block_h6.png);
}
