<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" type="text/css" href="/templates/default/index.css">
<link rel="shortcut icon" href="/images/tongda.ico">
{javascript}
</head>

<body onload="javascript:form1.{focus_filed}.focus();">
<br>
<br>
<br>
<br>

<div align="center">
<form name="form1" method="post" action="logincheck.php" onsubmit="{form_submit}">

  <table cellspacing="0" cellpadding="0" align="center">
    <tr>
      <td align="center">{logo_img}</td>
    </tr>
    <tr height="37" class="login_field">
      <td align="center">
        <b>用户名</b> <input type="text" class="text" name="USERNAME" size="15" maxlength="30" onmouseover="this.focus()" onfocus="this.select()" value="{username_cookie}">
        <b>密码</b> <input type="password" class="text" name="PASSWORD" onmouseover="this.focus()" onfocus="this.select()" size="15" maxlength="30" value="">
{ui}
         &nbsp;<input type="submit" name="submit" class="submit" value="登 录">
      </td>
    </tr>
  </table>
  {usbkey_object}
</form>
</div>

</body>
</html>