body{background:#FFFFFF;font-size:9pt;color:#133C5D;}

.text{border:1px #C2C2C2 solid;color:#212121;font-size:9pt;height:22px;padding-top:3px;padding-left:5px;}
#logo{font-size:9pt;width:698px;height:281px;background:url("/templates/clear/logo.png") no-repeat;}