*{padding:0px;margin:0px;}
body{
   background:#FCC9E2;
   font-size:9pt;
}
#on_status{
   background:#FBAAD2;
   font-weight:bold;
   padding-top:4px;
   padding-bottom:5px;
   padding-left:4px;
   padding-right:4px;
   cursor:pointer;
}

#on_status a{
}
#on_status a.general{
   color:#000000;
   text-decoration: underline;
}

#on_status_ul{display:none;width:auto;font-weight:normal;border: #036 1px solid;position:absolute;padding:0px;background:#FBAAD2;}
#on_status_ul li {
   margin: 0 0 0 5px;
   padding: 0;
   display: block;
   list-style-type: none;
}

#on_status_1, .on_status_1{padding-left:20px;background:url("/images/user_list/U01.gif") no-repeat;line-height:18px;}
#on_status_2, .on_status_2{padding-left:20px;background:url("/images/user_list/U02.gif") no-repeat;line-height:18px;}
#on_status_3, .on_status_3{padding-left:20px;background:url("/images/user_list/U03.gif") no-repeat;line-height:18px;}

#tabs{
   margin-top:5px;
}

#search{
   border:1px solid #C0BBB4;
   background: white url('bg_input_text.png') top left repeat-x;
   margin-left:5px;
   width:175px;
}
#search:hover{
   border:1px solid #99CC00;
   background: white url('bg_input_text_hover.png') top left repeat-x;
}

input.SmallInput {font-size: 9pt; border:0px; color:#A0A0A0;width:152px;}
input.SmallInput:hover {border:0px; color:#000000;}

#nav_menu {
   margin-top:5px;
   padding:0px 5px;
   height:21px;
   border-bottom:1px #E276A7 solid;
}

#nav_menu li {
   display: inline;
   list-style-type: none;
}

#nav_menu a:link, #nav_menu a:visited {
   float:left;
   color:#000;
   padding-left: 4px;
   text-decoration: none;
   background:url("nav_menu_bg_left.gif") top left no-repeat;
}

#nav_menu a:link span, #nav_menu a:visited span {
   padding:5px 9px 2px 5px;
   display:block;
   background:url("nav_menu_bg_right.gif") top right no-repeat;
}

#nav_menu a:link.active, #nav_menu a:visited.active, #nav_menu a:hover {
   font-weight:bold;
   background-position:0% -42px;
}

#nav_menu a:link.active span, #nav_menu a:visited.active span, #nav_menu a:hover span {
   background-position:100% -42px;
}
