BODY { background-color: buttonface; font-family: "ו"; font-size: 10pt;}
TD, INPUT, SELECT { font-family: "ו"; font-size: 10pt; vertical-align: middle; }
TABLE.dlg { border:0; }
.dlg TD { align: left; height: 20; }
.dlg INPUT { border-size: 2px; }
INPUT.button { border-top: 1px solid white; border-left: 1px solid white;
border-bottom: 1px solid black; border-right: 1px solid black;
font-size: x-small; width: 60; }
SELECT { height: 75%; }
