	.text{
		font-family : "宋体";
		font-size : x-small;
		color : black;
	}
	.red{
	font-family : "宋体";
	color : red;
}
	.acomment{
	background-color : #E7E7E7;
	color : Gray;
	font-family : "宋体";
	font-size : x-small;
}
	DIV.red{
	font-family : "宋体";
	color : red;
	font-size : x-small;
}
	LI.red{
	font-family : "宋体";
	color : red;
	font-size : x-small;
}
	H1{
		font-family : "宋体";
		font-variant : small-caps;
		font-size : larger;
		color : ButtonHighlight;
		font-style : italic;
		font-weight : 300;
		letter-spacing : 3px;
	}
	address{
		font-family : "宋体";
		font-variant : small-caps;
		font-size : smaller;
		color : Gray;
		font-style : normal;
		font-weight : bolder;
		letter-spacing : normal;
		text-align : center;
	}
	H1.purple{
		font-family : "宋体";
		font-variant : small-caps;
		font-size : larger;
		color : Violet;
		font-style : italic;
		font-weight : 300;
		letter-spacing : 3px;
		border : #9966FF;
	}