*{margin:0px;padding:0px;}
img{border:0px;}
body{
	background: #FFFFFF url('menu_top_bg.png') top left repeat-x;
}
#navPanel{
	width: 100%;
	height: 30px;
	padding-top:2px;
	font-size:11pt;
}
#navMenu{
	float: left;
	white-space: nowrap;
	padding: 0px 20px;
}
#navMenu a
{
   float:left;
	overflow:hidden;
	color:#003366;
	text-decoration: none;
   padding-left:5px;
}
#navMenu a span{
   float:left;
   cursor:hand;
	padding: 7px 10px 5px 5px;
	background: url('tab_inactive.gif') no-repeat center right;
}
#navMenu a.active, #navMenu a:hover
{
   font-weight:bold;
   background: url('menu_top_hover_l.png') no-repeat top left;
}
#navMenu a.active span, #navMenu a:hover span
{
	padding: 7px 10px 5px 5px;
   background: url('menu_top_hover_r.png') no-repeat top right;
}