*{margin: 0px; padding: 0px;}
html { overflow-y: scroll; }
body {font-size:9pt; BACKGROUND: #DDE4EA url("bg.jpg");}
/* other */
img {border: none; vertical-align: middle;}

a:link{color: #0066cc; text-decoration: none;}
a:visited{color: #0066cc; text-decoration: none;}
a:hover {color: #333333; text-decoration: underline;}
a:active{color: #0066cc; text-decoration: underline;}

.head{font-size: 12pt;color: #124164;font-weight: bold;padding-left:5px;padding-top:5px;}

ul {
   list-style: none;
   margin: 0px;
   padding: 0px;
   width:99%;
   height:100%;
   line-height:20px;
   border-left:1px #718A9B solid;
   border-top:1px #718A9B solid;
   border-right:1px #718A9B solid;
}

li a:link, li a:visited{
   color: #444659;
   font-size:9pt;
   display: block;
   text-decoration: none;
   height: 24px;
   background: url("menu1_bg.png") repeat-x top left;
}

li a:link span, li a:visited span{
  background: url("ar.gif") no-repeat left;
  display:block;
  padding-top:3px;
  padding-left:16px;
  cursor:hand;
}
li a:hover{
   color: #000000;
   font-weight:bold;
   background:  url("menu1_bg.png") repeat-x top top left;
   background-position: 0 -24px;
}
/*  一级菜单 active 效果  */
li a.active, li a:hover.active, li a:active.active, li a:visited.active{
   background:  url("menu1_bg.png") repeat-x top top left;
   background-position: 0 -24px;
}
li a:link.active span, li a:hover.active span, li a:active.active span, li a:visited.active span{
   color: #000000;
   font-weight:bold;
   background: url("ad.gif") no-repeat left;
}

.moduleContainer{background:#FFFFFF;overflow-x:auto;overflow-y:hidden;}
.treeList{border-bottom:1px #b8d1e2 solid;padding-bottom:15px;}
.moduleContainer .blank{line-height:30px;padding-left: 5px;}

.moduleContainer a:link,
.moduleContainer a:hover,
.moduleContainer a:active,
.moduleContainer a:visited{
   color: #0066cc;
   text-decoration: none;
   background:none;
   display: inline;
   font-weight:normal;
}

.moduleContainer a:hover,
.moduleContainer a:active{
   color: #333333;
   text-decoration: underline;
}
