html { overflow-y: scroll; }
body {font-family: Tahoma,Arial,Helvetica,Sans-Serif; background: #E7F1F8; margin: 0px; padding: 0px;}
/* other */
img {border: none; vertical-align: middle;}

a:link{color: #0066cc; text-decoration: none;}
a:visited{color: #0066cc; text-decoration: none;}
a:hover {color: #333333; text-decoration: underline;}
a:active{color: #0066cc; text-decoration: underline;}

ul {
	margin: 0;
	margin-left: 3px;
	padding: 0;
	line-height:20px;
}
li {
	margin: 0 0 0 15px;
	padding: 0px 0 0px 0;
	list-style-type: disc;
}

li a:link{color: #333333; text-decoration: none}
li a:visited {color: #333333; text-decoration: none}
li a:hover {color: #333333; text-decoration: underline}
li a:active {color: #333333; text-decoration: underline}

img{
	border:0px;
	vertical-align:middle
}

#overlay {	DISPLAY: none; Z-INDEX: 10000; height:100%;BACKGROUND: #000; FILTER: alpha(opacity=50); LEFT: 0px; POSITION: absolute; TOP: 0px; opacity: 0}

.dialogBlock {margin: 10px auto; clear: both; position: absolute; top: 100px;  z-index: 10002;}
.dialogBlock .menu {float: left; width: 120px;}
.dialogBlock .menu a {display: block; padding: 3px 10px; margin-bottom: 5px; color: #645A44; text-decoration: none; text-align: center; background: transparent; border: 1px solid white;}
.dialogBlock .menu a:hover {color: #395500; text-decoration: none !important; background: #F4FADF url('bg_input_btn_hover.png'); border-color: #99CC00; border-bottom-color: #80AA00; border-right-color: #80AA00;}
.dialogBlock .menu .current {border-color: #C8C4BB; border-bottom-color: #ABA498; border-right-color: #ABA498; background: #F4FBE1 url('bg_input_btn.png');}
.dialogBlock .subContent {float: right; width: 500px; color: #663300; border: 1px #b8d1e2 solid; background: white url('bg_input_text.png') top left repeat-x;}

.module {border: 1px #dedcd8 solid; background: white; padding: 1px;margin-top:10px;margin-left:10px;}
.moduleHeader {border-bottom: 1px #dedcd8 dotted; padding: 3px 1%; margin: 0; font-size: 12px; width: 98%; overflow: hidden; font-weight: normal; line-height: 14px; background: #f4f3f0;}
.moduleHeader .icon {float: left; padding: 3px 3px 0px;}
.moduleHeader .title {padding: 2px 3px; line-height: 16px; float: left; font-weight: bold;width:65%;}
.moduleHeader .option {padding: 2px 3px; float: right; cursor: pointer; text-decoration: none;}
.moduleHeader .close {padding: 2px 3px; float: right; cursor: pointer; text-decoration: none;display:none;}
.module_body {font-size: 9pt;margin: 0 !important; width: 98% !important; overflow: hidden !important; padding: 10px 1% !important;}
.moduleFooter {padding: 0; text-align: center; font-size: 12px; margin-bottom: 10px;}
.module_page{display:none;}
.module_div{
	overflow:hidden;}
.PageLinkDisable{
   color:#CCCCCC !important;
}

.listColor {border: 1px #b8d1e2 solid; color: #003366;}
.listColor hr {border-bottom: 1px #b8d1e2 solid;}
.listColor .moduleHeader {background: #e3eef2 url(list_hd_bg.png) repeat-x scroll left top; border-bottom: 1px #b8d1e2 dotted;}
.listColor .module_body {background: #f4f8f9;}
.listColor .bright {color: #003366 !important;}
