body {font-family: Tahoma,Arial,Helvetica,Sans-Serif; background: #E7F1F8; margin: 0px; padding: 0px;margin-top:1px;}
img {border: none; vertical-align: middle;}

.call_left{
   width:13px;
   height:13px;
   margin-top:6px;
   display:block;
   background: url('/images/call_left.gif') no-repeat;
}

.call_right{
   width:13px;
   height:13px;
   margin-top:6px;
   display:block;
   background: url('/images/call_right.gif') no-repeat;
}

.call_up{
   width:13px;
   height:13px;
   position:absolute;
   top:9px;
   right:3px;
   background: url('/images/call_up.gif') no-repeat;
}

.call_down{
   width:13px;
   height:13px;
   position:absolute;
   top:9px;
   right:3px;
   background: url('/images/call_down.gif') no-repeat;
}

#Nav_div{float:left;overflow:hidden;width:100%;height:30px;}

#Nav_div ul {
   margin:0px;
   padding:0px;
   list-style:none;
   overflow:hidden;
}
#Nav_div li {
  display:inline;
  margin:0px;
  padding:0px;
}
#Nav_div li a, #mytable{
  float:left;
  margin:0px;
  padding:0 0 0 4px;
  text-decoration:none;
}
#Nav_div li a span, #mytable span {
  float:left;
  display:block;
  color:#000000;
  cursor:hand;
  height:25px;
  vertical-align:middle;
  padding:3px 4px 0px 0px;
}

#Nav_div li a:hover, #mytable:hover{
  background: url('nav_tab_left.png') no-repeat left top;
}

#Nav_div li a:hover span, #mytable:hover span {
  background: url('nav_tab_right.png') no-repeat right top;
}
