A:link { COLOR: #000000; TEXT-DECORATION: none;}
A:visited { COLOR: #000000; TEXT-DECORATION: none}
A:active  { COLOR: #000000; TEXT-DECORATION: none}
A:hover   { COLOR: #000000; TEXT-DECORATION: none}

.statusbar{ BACKGROUND: #b8d1e2; color:#000000; background-image:url("statusbar.png")}
#user_count1{width:20pt;height:12pt;text-align:center;color:#0066cc;FONT-WEIGHT: bold;background-color:transparent; border:0;cursor:pointer}