body{background:url("topbar_bg.png");color:#FFFFFF;font-size:9pt;}

A:link, A:visited, A:active, A:hover{ color: #FFFFFF; text-decoration: underline;}

.topbar{background:url("topbar_left_bg.png") no-repeat top left;}
#banner_text{
   color:#FFFFFF;
   WIDTH: 100%;
   FONT-WEIGHT:bold;
   FONT-SIZE: 18pt;
}
#time{
   text-align:right;
   padding-top:5px;
}
.time_left{
   padding-left:11px;
   background:url("dt_left.png") no-repeat left;
}
.time_right{
   margin-right:5px;
   padding-top:3px;
   background:url("dt_right.png") no-repeat right;
}

#weather{
   position:absolute;
   text-align:right;
   padding-top:8px;
   padding-right:10px;
   right:50px;
}
#today{
   position:absolute;
   top:30px;
   right:0px;
   padding-right:5px;
}

.city{
   font-weight:bold;
   cursor:pointer;
}

.wind, .weather{
   padding-right:3px;
}

.temperature{
   padding-right:3px;
}

#area_select{
   width:310px;
   text-align:right;
   position:absolute;
   top:25px;
   right:0px;
   display:none;
}